
<div id="carousel_{{gallery.pk}}" class="carousel slide" data-ride="carousel" data-interval="false">
	<ol class="carousel-indicators">
		{% for image in images %}
			<li data-target="#{{gallery.pk}}-{{image.pk}}" data-slide-to="{{gallery.pk}}-{{image.pk}}" {% if forloop.first %}class="active"{% endif %}></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for image in images %}
			<div {% if forloop.first %}class="carousel-item active"{% else %} class="carousel-item"{% endif %} id="{{gallery.pk}}-{{image.pk}}">
				{% include 'includes/carousel-image.html' %}
			</div>
		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carousel_{{gallery.pk}}" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carousel_{{gallery.pk}}" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>