$blue: #2fa8db;

a {
	color: $blue;
}
.navbar-brand {
	img {
		height: 60px;
	}
}
.bg-light {
    background-color: #ffd6fc!important;
}

.jumbotron {
	padding: 1rem;
	background-color: #d4f2ff;
}

.body {
	padding: 25px 0px;
}

