{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="utf-8">
		<meta name="description" content="Bo Morin is a queer, transmasculine hobby woodworker and builder located in Hyattsville, Maryland. Check out their work on this portfolio page and contact them for commissions.">
		<meta name="keywords" content="hobby woodwork portfolio, hobby woodworking, hobby construction, handyman hyattsville, queer woodworker, lgbtq+ woodworker, trans woodworker">		
		<meta name="author" content="Bo Morin">
		
		{% comment %}
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rock+Salt">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
        {% endcomment %}

  		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  		{% block extra_style %}{% endblock %}
  		<link href="{% static 'app.css' %}" rel="stylesheet">
  		<title>
  			Bo built{% if page_title %} | {{page_title}}{% endif %}
  		</title>

  		<link rel="shortcut icon" type="/image/png" href="{% static 'images/b-favicon.ico' %}"/>

  </head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
			  <a class="navbar-brand" href="{% url 'home' %}">
			  	<img class="navbar-logo" src="{% static 'images/bobuilt-logo.png' %}" alt="Bo built" />
			  </a>
				<div>
			    <ul class="navbar-nav">			
					{% for page in PAGES %}					
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'portfolio_page' page_slug=page.slug %}">{{page.title}}</a>
						</li>
					{% endfor %}
			    </ul>
				</div>
			</div>
		</nav>

	{% if pageModule and pageController %}
		<div id="{{pageModule}}" ng-controller='{{pageController}}' class="body container container-fluid container-fluid-shrink">
			<div class="loading" ng-show="state=='loading'">
				{% comment %}
				<div class="spinner"><img src="{% static 'site_images/ripple-loading.gif' %}"></div>
				{% endcomment %}
			</div>
	{% else %}
		<div class="body container container-fluid container-fluid-shrink">
	{% endif %}
			{% if messages %}
			<div class="row">
				<div class="col-2"></div>
				<div class="col">
					{% for message in messages %}
					{% if message.tags == 'error' %}
					<div class="alert alert-danger">
					{% else %}
					<div class="alert alert-{{message.tags}}">
					{% endif %}
						{{message}}
					</div>
					{% endfor %}
				</div>
				<div class="col-2"></div>
			</div>
			{% endif %}
			{% block page_content %}{% endblock %}
		</div>
		
		<!-- Footer -->
<footer class="page-footer font-small pt-4">
	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<div class="col-lg-4 col-sm-12">
					Bobuilt.me © 2021 Copyright 
			</div>
			<div class="col-lg-8 col-sm-12">
				<a href="{% url 'home' %}">About</a> |
				<a href="{% url 'privacy_policy' %}">Privacy Policy</a> |
				<a href="{% url 'eula' %}">End User License Agreement</a> |
				<a href="{% url 'contact' %}">Contact</a>
			</div>
		</div>
	</nav>
</footer>
<!-- Footer -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript">
			$(function () {
		  		$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
		<script type="text/javascript" src="{% static 'vendor/angular/angular.min.js' %}"></script>
  		{% block extra_scripts %}{% endblock %}
	</body>
</html>