{% extends 'base.html' %}

{% block page_content %} 
<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            {% if site_key %}
                {% if recaptcha_error %}
                <p>
                    <ul class="errorlist">
                        <li>Please verify that you are a human</li>
                    </ul>
                </p>
                {% endif %}
                <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
            {% endif %}
            <p>
                <input type="submit" class="btn btn-primary form-control" value="submit" />
            </p>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
   
{% endblock %}