{% extends 'base.html' %}
{% load static helper_tags %}

{% block page_content %}

<div class="row">
	<div class="col">
		<div class="jumbotron">
			<h1 class="display-4">{{category.title}}</h1>
			<hr class="my-4">
			<p class="lead">{{category.description|safe}}</p>
		  </p>
		</div>
	</div>
</div>
<div class="row">
	{% if category.gallery_set.count > 0 %}
		{% for col in galleries %}
			<div class="col-sm-12 col-md-4">
			{% for gallery in col %}

				<div class="card">
					{% if gallery.images.count > 1 %}
						{% include 'includes/carousel.html' with images=gallery.images gallery=gallery %}
					{% else %}
						{% include 'includes/card-image.html' %}
					{% endif %}
					<div class="card-body">
						<h5 class="card-title">{{gallery.title}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Created: {{gallery.display_date}}</h6>
						<p class="card-text">{{gallery.description|safe}}</p>
					</div>
				</div>
				<div class="spacer"></div>
			{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<div class="col alert">
			Looks like I am still loading content for this page. Come back soon!
		</div>
	{% endif %}
</div>

<div class="row">
	<div class="col">
		<div class="jumbotron" style="margin-top: 25px;">
			<p class="lead">I'd love to create or build something for you! <a href="{% url 'contact' %}">Conact me</a> to get in touch!</p>
		  </p>
		</div>
	</div>
</div>
{% endblock %}